.container, html, body{
    height: 100%;
}

p {
    color: red;
}
body {
    padding-left: 5%;
}
.table {
    width: 20%;
    height: 15%;
    display: inline-block;
    border: 2px solid black;
    margin: 0 0 2vw 0;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-size: 1.5rem;
}

.open {
    background-color: lightgreen;
}

.closed {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}
