<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Drink/Snack Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/drinks_snacks.css" />
</head>

<body>
    <div id="title">Lei's Luau</div>
    <div id="table_no">Table 6</div>
    <div id="title">Drink/Snack Selection</div>
    <div class="container card card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Drinks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8"> <label>20th Century</label></div>
                            <div class="col-md-4"><select class="custom-select custom-select-sm col-md-4" id="20thCentury">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8"> <label>Agent Orange</label></div>
                            <div class="col-md-4"><select class="custom-select custom-select-sm col-md-4" id="agentOrange">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8"> <label>Alexander</label></div>
                            <div class="col-md-4"><select class="custom-select custom-select-sm col-md-4" id="alexander">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8"> <label>Angel Face</label></div>
                            <div class="col-md-4"><select class="custom-select custom-select-sm col-md-4" id="angelface">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="buttons">
            <button class="btn btn-secondary btn-block" type="submit">Clear Selection</button>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
</body>

</html>
