<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASH$Tard's Beach</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" href="../static/css/test.css" rel="stylesheet">
    <script src="../static/js/popup.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>var lounger = {{number}};</script>
</head>
<body>
    <header>
    <!-- NAVBAR WITH RESPONSIVE TOGGLE -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
            
                <div class="container flex">
                    <a class="navbar-brand" href="#">Welcome to BASH$Tard's Beach Bar!</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/loungers">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/orders">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacts">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </nav>
    
    </header>
    <div class="container flex tables">
        {% for lounger in loungers %}
            <div class="table ">
                <!-- LOGIN MODAL -->
                <button class="btn btn-light open" type="button" onclick="openForm()">Table {{loop.index}}</button>
                <div class="form-popup" id="myForm">
                    <form role="form" class="form-container">
                    <h1 id="name{{loop.index}}">Sunny</h1>
                    <h4 id="desc{{loop.index}}">It's always sunnier here!</h4>
                      
                    <label for="starttime{{loop.index}}"><b>Start Time</b></label>
                    <input type="text" name="starttime{{loop.index}}" required/>
                    <script>
                        $(function() {
                            $('input[name="starttime{{loop.index}}"]').daterangepicker({
                            timePicker: true,
                            timePicker24Hour: true,
                            singleDatePicker: true,
                            startDate: moment().startOf('hour'),
                            minDate: moment().startOf('day'),
                            locale: {
                                format: 'YYYY-MM-DD hh:mm A'
                            }
                            });
                        });
                    </script>
                
                    <label for="finishtime{{loop.index}}"><b>Finish Time</b></label>
                    <input type="text" name="finishtime{{loop.index}}" required/>
                    <script>
                        $(function() {
                            $('input[name="finishtime{{loop.index}}"]').daterangepicker({
                            timePicker: true,
                            timePicker24Hour: true,
                            singleDatePicker: true,
                            startDate: moment().startOf('hour'),
                            minDate: moment().startOf('day'),
                            locale: {
                                format: 'YYYY-MM-DD hh:mm A'
                            }
                            });
                        });
                    </script>
                
                    <button id="book{{loop.index}}" type="submit" class="btn">Book</button>
                    <button id="close{{loop.index}}" type="submit" class="btn cancel" onclick="closeForm(); return false;">Close</button>
                </form>
                </div>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>


